

.imagem_01{

    width: 15%;
	margin-right: 5%;
	
}
.imagem_02{

    width: 30%;
	margin-right: 5%;
	
}
.imagem_03{

    width: 30%;
	margin-right: 5%;
	
}
.imagem_04{

    width: 15%;
	margin-right: 5%;
	
}
.imagem_05{

    width: 30%;
	margin-right: 5%;
	
}
.imagem_06{

    width: 30%;
	margin-right: 5%;
	
}

.imagem_07{

    width: 15%;
	margin-right: 5%;
	
}
.imagem_08{

    width: 30%;
	margin-right: 5%;
	
}
.imagem_09{

    width: 30%;
	margin-right: 5%;
	
}

.imagem_10{

    width: 15%;
	margin-right: 5%;
	
}
.imagem_11{

    width: 30%;
	margin-right: 5%;
	
}
.imagem_12{

    width: 30%;
	margin-right: 5%;
	
}

.imagem_13{

    width: 15%;
	margin-right: 5%;
	
}
.imagem_14{

    width: 30%;
	margin-right: 5%;
	
}
.imagem_15{

    width: 30%;
	margin-right: 5%;
	
}
